[run]
omit =
    dashboard/test_dashboard.py
    dashboard/test_data_functions.py
    dashboard/test_ai_summary_functions.py
    pipeline/test_extract.py
    pipeline/test_transform.py
    pipeline/test_save_documents.py
    pipeline/conftest.py
    notification/test_notification.py
    dashboard/dashboard_v2.py
    dashboard/test_dynamodb_functions.py